VITE_SUPABASE_URL=https://supabase.example.com
VITE_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4OTEzODc0MCwiZXhwIjo0OTQ0ODEyMzQwLCJyb2xlIjoiYW5vbiJ9.FSN6sg2_TtSfhWOkM4ff6KqHPsMhtbZy61XEifd_JWk
